@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "CustomerGet";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin:24px">

    <h3><b>CUSTOMER UPDATE</b></h3>
</div>
@using (Html.BeginForm("Update", "Customer", FormMethod.Post))
{
<div class="form-group">
    @*@Html.LabelFor(m => m.MUSTERIID)*@
    <h5>Customer Id</h5>
    @Html.TextBoxFor(m => m.MUSTERIID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @*@Html.LabelFor(m => m.MUSTERIAD)*@
    <h5>Customer Name</h5>
    @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control", Required = "", Placeholder = "Enter Name", @maxlength = "50" })
    <br />
    @*@Html.LabelFor(m => m.MUSTERISOYAD)*@
    <h5>Customer Surname</h5>
    @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control", Required = "", Placeholder = "Enter Name", @maxlength = "50" })
</div>
    <div>
        <button class="btn btn-warning">Update</button>
    </div>
}
